<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537982264196-ktt7jo9ia48ogfcqknepsmuettnu3idr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537982264196-ktt7jo9ia48ogfcqknepsmuettnu3idr</string>
	<key>API_KEY</key>
	<string>AIzaSyBEow6uzuNw8P_FIMqP3h80smZBYmX_58c</string>
	<key>GCM_SENDER_ID</key>
	<string>537982264196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>leojportes.EstacionamentoFacil</string>
	<key>PROJECT_ID</key>
	<string>easyp-58190</string>
	<key>STORAGE_BUCKET</key>
	<string>easyp-58190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537982264196:ios:02ab42eef344d7d10573d1</string>
</dict>
</plist>